%h1
  Dashboard
  %small
    You're logged in as #{current_user.name}.
    = link_to "View your public page", current_user.url, :class => ""

%p Here's everything we know about this user:
%p 
  = debug current_user
%p Your account has the following roles:
%ul
  - current_user.roles.each do |r|
    %li
      =r.name
  - if current_user.roles.empty?
    (None yet.)

%a.btn.btn-default{"data-toggle" => "modal", :href => "#role-options-#{current_user.id}", :type => "button"} Manage Roles
= render current_user

%hr.featurette-divider

.well
  %jumbotron
    %h2 About this page
    %p.lead
      Welcome to the dashboard. This page will be your landing page when you first log in, or you go to the root url as a logged-in user. Things you should be able to do from here:
    %ul
      %li View updates from artists you've followed, see who's following you
      %li Publish, promote your content
      %li View your content, see who's commented on your content, quickly update things or organize things by category
      %li View messages from other users - essentially just the inbox. Clicking on any of your messages will take you to /messages/:message_id -- none of this is implemented yet
      %li User account settings as a sub-page, maybe a tab

%p
  =link_to "Log out?", destroy_user_session_path, :method => :delete
