.col-md-3
  / Friends' contests
  %h3.smallheading.text-left One category...
  %hr.smallrule/
  
.col-md-3
  / Recent contests
  %h3.smallheading.text-left Another...
  %hr.smallrule/
  %ul#recent_contests

.col-md-6
  / More
  %h3.smallheading.text-left More About #{@user.first_name}
  %hr.smallrule/
  %dl.dl-horizontal
    %dt Gender:
    %dd
      = @user.gender.titlecase or "Unspecified"
    %dt Location:
    %dd
      = @user.location or "Unspecified"
    %dt Hometown:
    %dd
      = @user.hometown or "Unspecified"
    %dt Last seen:
    %dd
      = distance_of_time_in_words_to_now @user.last_sign_in_at
      ago
    %dt Facebook link:
    %dd
      = link_to @user.facebook_link, @user.facebook_link

= render "menus"
