!!!
%html
  %head
    <link href='http://fonts.googleapis.com/css?family=Londrina+Outline|Jacques+Francois|Spirax|Kavoon|Raleway' rel='stylesheet' type='text/css'>
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Abstract Initiative"
      %meta{:content => content_for?(:description) ? yield(:description) : "Abstract Initiative", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body#all{:class => "#{controller_name} #{action_name}"}
    .navbar.navbar-inverse.navbar-static-top#navbar
      .navbar-inner
        - if current_user
          = render 'layouts/navigation'
        - else
          = render 'layouts/navigation_stranger'
    #main{:role => "main"}
      .container
        .span12
          .content                    
            = render 'layouts/messages'
            = yield
          %footer
      / ! end of .container
    / ! end of #main
